{% extends "base.html" %}
{% block content %}

<h2 class="cnt_ttl">
     お問い合わせ
   </h2>
<hr class="ttl_underline">
<p class="cnt_txt">
  お問い合わせは下記のフォームよりお気軽にお問い合わせください。<br/>
お問い合わせ内容の確認後、担当者よりご連絡させて頂きます。
</p>

<div id="cont02">
<div class="contWrap contact">
<p class="thanks_ttl" style="text-align:center;">お申込みありがとうございます<br/>お手続きは完了致しました</p>
<div class="thanks_txtWrap"><p class="thanks_txt">ご入力されたメールアドレス宛に確認のメールを送信いたしましたのでご確認ください。<br/>
<span class="pt-20px" style="display:block;">
お問い合わせに関しては内容を確認後、早急にご返信させていただきます。<br/>

  </span>

</p>
<div class="thanks_top"><a href="/email/">トップページへ戻る</a></div>
</div>
</div>
</div>


							{% endblock %}

